
@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="~/Content/css/style.css" rel="stylesheet" />
</head>

<body>
    <header id="header">
        <div id="sfc-logo" class="login-logo-left">
            <a href="//www.sfiec.com">www.sfiec.com</a>
        </div>
    </header>
    <hr>
    <div class="login" id="login">
        <div class="login-container">
            <div class="login-info">
                <h1>Login</h1>
                <form>
                    <div>
                        Username：<input type="text" class="form-group user-name" placeholder="Username" required />
                    </div>
                    <div>
                        Password：<input type="password" class="form-group mail" placeholder="Password" required />
                    </div>
                    <label class="checkbox"><input type="checkbox" name="checkbox" checked><i> </i>Keep me signed in(Uncheck when using a shared computer)</label>
                    <input type="submit" value="Sign In">
                </form>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</body>
</html>
