
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">汇率</h3>
    </div>
    <div class="box-body box-profile" style="height:350px">
        <iframe id="sinaFrame" width="100%" height="100%" style="background-color:white"></iframe>
        @*<h3 class="profile-username text-center">{[project.name]}</h3>
            <p class="text-muted text-center">{[project.code]}</p>

            <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                    <b>需求数:</b> <a class="pull-right">2,103</a>
                </li>
                <li class="list-group-item">
                    <b>源代码数:</b> <a class="pull-right">211</a>
                </li>
                <li class="list-group-item">
                    <b>生产应用数:</b> <a class="pull-right">40</a>
                </li>
                <li class="list-group-item">
                    <b>应用数:</b> <a class="pull-right">100</a>
                </li>
                <li class="list-group-item">
                    <b>项目创建于 </b> <a class="pull-right">

                    </a>
                </li>
            </ul>
            <p class="text-muted">

            </p>
            {#                            <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>#}*@
    </div>
    <!-- /.box-body -->
</div>