<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Exchange Rate</h3>
        <div id="newUSDCNY" class="pull-right">

        </div>
    </div>
    <div class="box-body box-profile">
        <div class="box">
            @*<div class="box-header">
                    <h3 class="box-title">数据信息</h3>
                </div>*@
            <!-- /.box-header -->
            <div class="box-body">
                <div id="usdcnyContentDiv" class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="row">
                        <div class="col-md-12" id="pcny">
                            <div id="usdcnyDiv"  class="col-md-12"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
    <!-- /.box-body -->
</div>

<script type="text/javascript">
    function drawUSDCNYLines(myChart, data) {
    myChart.setOption({
        title: {
            text: 'USDCNY',
            x: 'center'
        },
        tooltip: {
            trigger: 'axis'
        },
        grid: {
            left: 50,
            right: 40
        },
        xAxis: {
            data: data.map(function (item) {
                return item.PublishDate;
            }),
            inverse: true
        },
        yAxis: {
            name: 'RMB',
            min: 6
        },
        series: [
            {
                name: 'USDCNY',
                type: 'line',
                //markPoint: {
                //    data: [{ type: 'min', name: '最小值', symbolSize: 70 }]
                //},
                data: data.map(function (item) {
                    return item.Price;
                })
            }
            //, {
            //    name: '现汇买入',
            //    type: 'line',
            //    markPoint: {
            //        data: [{ type: 'max', name: '最大值', symbolSize: 70 }]
            //    },
            //    data: data.map(function (item) {
            //        return item[0];
            //    })
            //}, {
            //    name: '现钞买入',
            //    type: 'line',
            //    markPoint: {
            //        data: [{ type: 'max', name: '最大值', symbolSize: 70 }]
            //    },
            //    data: data.map(function (item) {
            //        return item[1];
            //    })
            //}
        ]
    });
}
</script>